.container {
  padding-left: 90px;
  padding-right: 90px;
}
.jumbotron {
  margin-top: 100px;
  margin-bottom: 100px;
}

.row {
  margin: 0px;
  padding: 0px;
}

.header {
  margin-top: 100px;
}
/*  */
.menu .text {
  margin-left: 10%;

  display: block;
  top: 20%;
  z-index: 2;
}

.menu .text .top_text {
  font-size: 19px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.menu .text .center_text {
  font-size: 59px;
  font-weight: bold;
  letter-spacing: 5px;
}

.menu .text .bottom_text {
  font-size: 30px;
}

/* my_info */
.menu .my_info {
  z-index: 2;
  position: absolute;
}

.photo_frame {
  position: relative;
  border: 8px solid;
  height: 75vh;
  border-radius: 10px;
}

.photo_frame .photo img {
  width: 100%;
  height: 74vh;
  object-fit: cover;
  position: absolute;
  right: 3vw;
  bottom: 2vh;
  z-index: 1;
  border-radius: 10px;
}

.my_info {
  margin-top: 20px;
}

.my_info button {
  margin-right: 5px;
  border-radius: 0;
  padding: 3px;
  background: transparent;
  border-bottom: 1px solid black;
}

.my_info button:hover {
  color: white;
  background: rgba(0, 0, 0, 0.8);
  padding: 3px;
  border-radius: 3px;
  border-bottom: none;
}

/* Mobile Optimization */
@media (max-width: 812px) {
  .container {
    padding: 1%;
  }

  .photo_frame .photo img {
    height: 30vh;
  }

  .photo_frame {
    height: 30vh;
    border: 5px solid;
  }

  .menu {
    padding: 0px;
  }

  .menu .text {
    z-index: -1;
    padding: 0px;
    margin-left: 1%;
  }

  .menu .text .top_text {
    font-size: 13px;
  }

  .menu .text .center_text {
    font-size: 28px;
  }

  .menu .text .bottom_text {
    font-size: 15px;
  }

  .my_info button {
    font-size: 11px;
    font-weight: bold;
  }

  .about_me .about_text {
    font-size: 12px;
  }

  .skill_body .title h4 {
    font-size: 12px;
  }

  .my_skills .row .skill .row .desc {
    font-size: 10px;
  }

  .my_skills .row .skill_body {
    min-height: 140px;
  }

  .my_skills .row .skill .row .image img {
    width: 30px;
    height: 30px;
  }

  .works .display_box .projects_holder .project .project_body .project_info {
    padding: 2px;
  }

  .works .display_box .projects_holder .project .project_info .title h3 {
    font-size: 1rem;
  }

  .works .display_box .projects_holder .project .project_info .date {
    font-size: 11px;
  }

  .works .display_box .projects_holder .project .project_info .desc {
    font-size: 10px;
  }

  .size_32 {
    font-size: 22px;
  }

  .size_24 {
    font-size: 14px;
  }

  .size_26 {
    font-size: 16px;
  }

  .size_34 {
    font-size: 24px;
  }

  .size_22 {
    font-size: 12px;
  }

  .size_25 {
    font-size: 15px;
  }

  .size_45 {
    font-size: 25px;
  }

  .about_me .portfolio {
    border-left: none;
    margin-top: 20px;
  }
}

@media (max-width: 1024px) {
  .photo_frame {
    height: 36vh;
  }
  .photo_frame .photo img {
    height: 35vh;
  }
}
